.navbar {
    padding 0.7rem 3.5rem !important
}
.navbar .links {
    right 3.5rem !important
}
.navbar .logo {
    height 2.5rem !important
    min-width 2.5rem !important
    margin-right 0 !important
}

.personal-info-wrapper .personal-img {
    border 3px #b2d8f1 solid
    box-sizing content-box
}

.home-blog .hero .description {
    font-size 1.3rem !important
}

.home-blog .hero h1,
.site-name,
.page .theme-reco-content h2 {
    color #ee675c !important
}

.page .theme-reco-content h3 {
    margin-left 20px !important
    color #000 !important
}

.page .theme-reco-content p,
.page .theme-reco-content ul,
div[class*="language-"]{
    margin-left 30px !important
}

.page .theme-reco-content h2::before {
    border-color #ee675c !important
}



@media (max-width: 719px) {
    .navbar .logo {
        display none
    }

    .site-name,
    .home-blog .hero .description {
        font-size 1rem !important
    }

    .page .theme-reco-content h3,
    .page .theme-reco-content p,
    .page .theme-reco-content ul,
    div[class*="language-"]{
        margin-left 0 !important
        margin-right 0 !important
    }

}