.navbar {
    padding 0.7rem 3.5rem !important
}
.navbar .links {
    right 3.5rem !important
}
.navbar .logo {
    height 2.5rem !important
    min-width 2.5rem !important
    margin-right 0 !important
}

.personal-info-wrapper .personal-img {
    border 3px #b2d8f1 solid
    box-sizing content-box
}

.home-blog .hero .description {
    font-size 1.3rem !important
}

.home-blog .hero h1,
.site-name,
.page .theme-reco-content h2 {
    color #ee675c !important
}

.home-blog .hero h1,
.site-name {
    display inline-block
    background-image linear-gradient(transparent 55%, #fcff35 45%);
    background-position initial
    background-size initial
    background-repeat initial
    background-attachment initial
    background-origin initial
    background-clip initial
    padding 2px 13px !important
    margin-right 3px
}

.custom-block.theorem,
table,
.custom-block.tip,
.page .theme-reco-content h3 {
    margin-left 20px !important
    color #000 !important
}

.page .theme-reco-content h4 {
    margin-left 25px !important
}

.page .theme-reco-content p,
.page .theme-reco-content ul,
.page .theme-reco-content ol,
div[class*="language-"]{
    word-break keep-all
    margin-left 30px !important
}

.page .theme-reco-content h2::before {
    border-color #ee675c !important
}

.custom-block.tip {
    background-color #f9efee !important
    border-color transparent !important
    border-radius 4px
    padding 1px 10px !important
}

.custom-block.tip p {
    margin-left 0 !important
}

.custom-block.theorem .title {
    margin-top inherit !important
}


@media (max-width: 719px) {
    .navbar .logo {
        display none
    }

    .custom-block.tip,
    .custom-block.theorem,
    table,
    .page .theme-reco-content h3,
    .page .theme-reco-content h4,
    .page .theme-reco-content p,
    .page .theme-reco-content ul,
    .page .theme-reco-content ol,
    div[class*="language-"]{
        margin-left 0 !important
        margin-right 0 !important
    }

}